/*Paleta de colores*/
:root{
    --primary: #2D3250;
    --primary_o: #252941;
    --primary_op_70: rgba(45, 50, 80, .85);  
    --secondary: #424769;
    --third: #7077A1;
    --forth: #F6B17A;
    --forth_o: #fc9c4d;
    --white:#ffffff;
    --check: #63E6BE;
    --warning: #FCE97E;  
}

/*Importacion de Fuentes*/
@font-face{
    font-family: 'OpenSans-Regular';
    src: url('../../../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'OpenSans-SemiBold';
    src: url('../../../fonts/OpenSans-SemiBold.ttf');
}

@font-face{
    font-family: 'OpenSans-Bold';
    src: url('../../../fonts/OpenSans-Bold.ttf');
}

@font-face{
    font-family: 'OpenSans-Light';
    src: url('../../../fonts/OpenSans-Light.ttf');
}

@font-face{
    font-family: 'MPLUS1Code-Regular';
    src: url('../../../fonts/MPLUS1Code-Regular.ttf');
}

@font-face{
    font-family: 'Caveat-Regular';
    src: url('../../../fonts/Caveat-Regular.ttf');
}

/*Ajustes técnicos*/

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
    font-size: 16px; /* 1 rem = 10 px */
}