/* Para validaciones */
.icon-wrong{
    background-image: url('../../../icons/xmark-solid-red.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 1.4rem;
    top: 3rem;
}

.icon-check{
    background-image: url('../../../icons/check-solid-green.svg');
    position: absolute;
    right: 1.4rem;
    top: 3rem;
}

.new-top-modal{
    position: absolute;
    top: 2.85rem
}

.mr-1rem{
    margin-right: 1rem;
}

.formulario__validacion-estado{
    height: 1.2rem;
    width: 0.9rem;
}

.formulario__input-error{
    display: none;
}

.formulario__input-error-activo{
    font-family: 'OpenSans-Regular';
    font-size: 0.9rem;
    display: block;
    background-color: var(--forth);
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
    border-radius: 0.3rem;
    color: var(--primary);
    margin-top: 0.5rem;
}

.opacity-0{
    opacity: 0;
}

.opacity-1{
    opacity: 1;
}

.formulario__data-error{
    background-color: var(--warning);
    width: 65%;
    color: var(--primary);
    padding: 0.5rem;
    border-radius: .4rem;
    font-family: 'OpenSans-Regular';
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    position: fixed;
    bottom: 2rem;
    left: 17.5%;
}