::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: 0;
    cursor: pointer;
}

header{
    width: 85%;
    margin: auto;
    margin-top: 3rem;
}

main{
    width: 85%;
    margin: 1.4rem auto;
    height: 100%;
}

form{
    margin-bottom: 1rem;
    font-family: 'OpenSans-Light';
    color: var(--white);
}

form label{
    cursor: pointer;
}

input[type="radio"]{
    cursor: pointer;
    appearance: none;
    background-color: var(--secondary);
    background-image: url('../../../icons/check-solid-secondary.svg');
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: .3s;
}

input[type="radio"]:checked{
    background-color: var(--forth);
}

input[type="radio"]:focus{
    border: var(--forth) solid .1rem; 
}

.input-group{
    background-color: var(--secondary);
    margin-top: .7rem;
    margin-left: 1.4rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
    transition: .3s;
}

input[type="date"]{
    height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    color: var(--white);
    font-family: 'OpenSans-Light';
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: .5rem;
    transition: .1s ease all;
    background-color: var(--primary);
    cursor: pointer;
}

.button-search{
    margin-left: 0.3rem;
    padding: 0.55rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: .3s;
}

.button-search:hover{
    background-color: var(--primary);
}

.container__sales{
    background-color: var(--secondary);
    border-radius: 1.4rem;
    padding: 1.4rem;
}

.container__headers{
    width: 80%;
    margin-left: 2rem;
    display: flex;
}

.container__header{
    color: var(--white);
    font-family: 'OpenSans-Regular';
    font-size: 1rem;
    text-align: center;
}

.container__header:nth-child(1){
    margin-right: 10.5%;
}

.container__header:nth-child(2){
    margin-right: 11.5%;
}

.container__header:nth-child(3){
    margin-right: 7.5%;
}

.container__cards{
    width: 100%;
    margin: 1rem auto;
    overflow-y: auto;
    height: 93%;
}

.card{
    background-color: var(--third);
    border-radius: 1.2rem;
    height: 7.5rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1.9rem   0 1.9rem;
    cursor: pointer;
    transition: .3s;
}

.card:hover{
    box-shadow: 0 0.3rem 0.5rem black;
}

.default{
    cursor: auto;
}

.default:hover{
    box-shadow: 0 0 0 black;
}


.text_example{
    display: inline-block;
    height: 3rem;
    width: 100%;
    margin: 2.2rem 0;
    text-align: center;
    font-family: 'Caveat-Regular';
    font-size: 1.8rem;
    color: var(--white);
    line-height: 1.5rem;
}

.card_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card_data{
    width: 90%;
    display: flex;
    gap: 9.7%;
}

.data{
    font-family: 'OpenSans-Regular';
    color: var(--white);
    font-size: 0.8rem;
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data:nth-child(1){
    inline-size: 6rem;
}

.data:nth-child(2){
    inline-size: 2rem;
}

.data:nth-child(3){
    inline-size: 5.0rem;
}

.data:nth-child(4){
   font-family: 'MPLUS1Code-Regular';
   font-size: 0.9rem;
   text-align: right;
   
}

.card_buttons{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.card_button{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.card_button:hover{
    background-color: var(--primary);
}

.card_button div{
    background-repeat: no-repeat;
}

.card_button:nth-child(1) div{
    width: 0.86rem;
    height: 1.2rem;
    background-image: url('../../../icons/arrow-up-solid.svg');
}

.card_button:nth-child(2) div{
    width: 1rem;
    height: 1rem;
    background-image: url('../../../icons/pen-to-square-solid.svg');
}

.card_button:nth-child(3) div{
    width: 0.9rem;
    height: 1rem;
    background-image: url('../../../icons/trash-solid.svg');
}

.button_add{
    background-color: var(--forth);
    display: inline-block;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
    right: 11.2rem;
    bottom: 2.4rem;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.5rem black;
    cursor: pointer;
}

.button_add:hover{
    background-color: var(--forth_o);
}

.button_icon{
    height: 2rem;
}

.h-1rem{
    height: 1rem;
}

.h-35rem{
    height: 35rem;
}

.display-none{
    display: none;
}

.display-inline-block{
    display: inline-block;
}

.position-relative{
    position: relative;
}

/*Corrección provisional a los íconos de validacion*/
#date__val{
    top: 3.5rem;
    right: 7rem;
}