main{
    width: 65%;
    margin: 3rem auto 0 auto;
    height: 35rem;
}

h1{
    font-family: 'OpenSans-Bold';
    font-size: 2.5rem;
    color: var(--white);
}

.container_aux{
    position: relative;
    height: 100%;
}

.form__tagnumber{
    background-color: var(--forth);
    font-family: 'MPLUS1Code-Regular';
    font-size: 2rem;
    display: inline-block;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    position: absolute;
    right: 0;
    top: -3.5rem;
    z-index: -70;
}

.form__container{
    background-color: var(--secondary);
    border-radius: 1.4rem;
    margin-top: 1.4rem;
    padding: 1.4rem;
    height: 100%;
}

.form__fields{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.select__group label, .select__group select{
    display: block;
}

label{
    font-family: 'OpenSans-Regular';
    color: var(--white);
    font-size: 1.3rem;
}

.field{
    width: 100%;
    height: 2.5rem;
    background-color: var(--primary);
    border-radius: 0.4rem;
    border: none;
    color: var(--white);
    font-family: 'OpenSans-Light';
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: .5rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: 0;
}

.field:focus{
    border: var(--forth) solid 0.2rem;
    outline: none;
}

.checkbox__group{
    display: flex;
    gap: .2rem;   
}

.checkbox__group label{
    font-size: .8rem;
    font-family: 'OpenSans-Light';
}

.checkbox__group input{
    cursor: pointer;
    appearance: none;
    background-color: var(--primary);
    background-image: url('../../../../icons/check-solid.svg');
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    position: relative;

}

.checkbox__group input:checked{
    background-color: var(--forth);
}

.checkbox__group input:focus{
    border: var(--forth) solid .1rem; 
}

.checkbox__group img{
    position: absolute;
    width: .3rem;
    height: .3rem;
}