/*Barra de Navegacion*/
nav{
    background-color: var(--secondary);
    height: 4.0rem;
}

.nav__container{
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__icon{
    height: 0.8rem;
}

.nav__options{
    height: 100%;
    display: flex;
}

.nav__item{
    font-family: 'OpenSans-Bold';
    font-size: 1.0rem;
    display: flex;
    list-style: none;
    cursor: pointer;
    height: 100%;
    padding: 1rem;
    align-items: center;
    gap: 0.3rem;
    position: relative;
    width: 10rem;
    justify-content: center;
    transition: .2s;
}

.nav__item p{
    display: inline;
    color: var(--white);
}

.nav__item:hover{
    background-color: var(--primary);

    .nav__subitems{
        display: block;
    }
}

.nav__subitems{
    display: none;
    position: absolute;
    top: 4.0rem;
    left: 0;
    width: 15rem;
    list-style: none;
    transition: .3s;
}

.nav__subitems li{
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--forth);
    transition: .2s;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.nav__subitems li p{
    color: var(--primary);
    font-family: 'OpenSans-Regular';
    font-size: 1rem;
}

.nav__subitems li:hover{
    background-color: var(--forth_o);
}

.container-icon{
    display: flex;
    justify-content: center;
    width: 8%;
}

.button__close{
    display: inline-block;
}

#powerOffSolid{
    height: 2rem;
    cursor: pointer;
}
